
h2{
    color: white;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
#navbar{
    
    font-weight: bolder;
    background-color: black;
    position: relative;
    background-origin: padding-box;
}
body{

    background-image: url("./sunset_with_friends-5120x2880.jpg");
    background-size: cover;
}
h1{
    color: lavenderblush;
}
#fullpage{
    margin-left: 10%;
    margin-right:10%;

}
.nav-item:hover{
    background-color: red;
}
#navbarNav{
    float:right;
}
p{
    color: lavenderblush;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: justify;
}
h2,h3{
    color: lightcyan;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    color: aquamarine;
    font-size: medium;
}